html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: rgb(233, 220, 220);
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;  
  text-decoration: none;
  font-size: 14px;
  color: black;
}

main {
  flex: 1; 
  margin: 0 auto; 
}

#name-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}

.section-name {  
  display: flex;
  flex-direction: column;  
  margin: 0 auto;
}

.section-image {  
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

#summary-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.section-summary {  
  display: flex;
  flex-direction: column;
  flex-basis: 750px;
}

.section-contacts {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
}

#code-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.section-code {
  display: flex;
  flex-direction: column;
  flex-basis: 750px;
}

.section-skills {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
}

#projects-courses {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

#education-english {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.footer {
  display: flex;
	justify-content: space-around;
	align-items: center;  
  background-color: rgb(233, 220, 220);
}